header{
    background-color: #f63232;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    position: fixed;
    width: 100%;
    
    /* the "z-index" brings an object which is hidden behind to show on top. By default the "z-index" is set to 0, so to bring an element on top or in front, you need to set the z-index to 1*/
    z-index: 1;
    top: 0;
    right: 100;
    left: 0;
}

header h1{
    color: white;
    border: 8px solid white;
    /* whenever you do 2 values for a padding, the first value is for the top and bottom and the second value is for left and right. Hence, 6px is for top and bottom of 6px, and 12px is for left and right of 12.*/
    padding: 6px 12px;

    /* the "display inline-block" changes the inline element to inline block.*/
    display: inline-block; 

    /* "border-radius" gives a curve to the edges of the border.*/
    border-radius: 50px;

}

.banner{
    position: relative;

}

.banner img{
    max-width:100%;

}

.banner .welcome{
    position: absolute;
    left: 0%;
    top: 30%;
    background-color: #feb614;
    color: #ffffff;
    padding: 30px;
}

.banner h2{
    font-size: 74px;
}

/* "em" is a unit of measurement used for scaling a child element by the coefficient of "em", and this is relative to the parent element*/
.banner h2 span{
    font-size: 1.3em;
}